---
layout: archive
title: "Research"
permalink: /research-area/
author_profile: true
---

I have developed a strong research potential in innovative physical layer security solutions for future wireless technologies with ultra-low energy requirements but high security standards. My research aims to bridge the gap between the theoretical modelling and practical exploitation of physical layer security using state-of-the-art testbeds and equipment.

<h1>Research Topics</h1>

In particular, my research aims to ensure the secure communication using key generation and device authentication using radio frequency fingerprint identification.

<br />
<img align="center" width="1000" src="{{ site.url }}/images/system_overview.png" alt="...">
<br />



{% include base_path %}


{% for post in site.research-area %}
  {% include archive-single.html %}
{% endfor %}

<h1>Research Keywords</h1>

<br />
<img align="center" width="1000" src="{{ site.url }}/images/WordCloudResearch.png" alt="...">
<br />


